<div *ngIf="alertAccountAlreadyExists">
    <div class="alert alert-danger" role="alert">
        Account already exists!
    </div>
</div>

<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">

            <div class="form-group">
                <label for="firstName">First name</label>
                <input
                        type="text"
                        id="firstName"
                        ngModel
                        name="firstName"
                        required
                        class="form-control"
                >
            </div>

            <div class="form-group">
                <label for="lastName">Last name</label>
                <input
                        type="text"
                        id="lastName"
                        ngModel
                        name="lastName"
                        required
                        class="form-control"
                >
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input
                        type="email"
                        id="email"
                        ngModel
                        name="email"
                        required
                        email
                        class="form-control"
                >
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input
                        type="password"
                        id="password"
                        ngModel
                        name="password"
                        required
                        minlength="6"
                        class="form-control"
                >
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">Sign up</button>
                <a routerLink="../login" class="btn btn-link">Switch to login</a>
            </div>

        </form>
    </div>
</div>

